<div class="container my-5">

  <div class=" boxLink d-flex justify-content-center">

    <a class=" btn icon" [routerLink]="['/welcomeUser/edit/',accessData]">
      <i class="bi bi-pencil-square"></i>
      <p> MODIFICA</p>
    </a>

    <a class="btn icon" [routerLink]="['/welcomeUser/user-details/',accessData]">
      <i class="bi bi-ticket-detailed"></i>
      <p>DETTAGLI</p>
    </a>


  </div>

  <div class="animate__animated animate__zoomInDown animate__slow">
    <h3 class="fw-bold my-5 text-white text-center">I NOSTRI CORSI</h3>
  </div>

  <div class="row gap-5 justify-content-center">

    <div class="card col-12 col-md-6 mb-2" *ngFor="let c of iCorsi">

      <div class="imgCardCorso d-flex justify-content-center"
        [ngStyle]="{'background-image':'url('+ getImgByCategories(c.categoria)+')'}">
        <div class="boxCard my-5 d-flex text-center align-items-center text-white fw-bold">
         <div>

          <div class="dual-color-text">
            <h5 class="card-title">{{c.categoria}}</h5>
            <h5 class="outer-color">{{c.categoria}}</h5>
          </div>

          <p class="card-text">{{c.descrizione}}</p>
          <p class="card-text"><span class="fw-bold">Periodicità:</span> {{c.durata}}</p>
          <div class="text-center ">
            <a [routerLink]="['/welcomeUser/prenotazione',accessData,  c.id]" class=" text-decoration-none btnForm p-2">
              Scopri di più
            </a>
         </div>

          </div>
        </div>
      </div>

    </div>

  </div>

</div>
